body::after {
  content: "";
  background-color: var(--clr-black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  transition: .4s;
  opacity: 0;
}

body.modal-open::after {
  opacity: 0.5;
  pointer-events: unset;
}

.modal-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  background-color: var(--clr-white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: var(--bs-tertiary);
  z-index: 1;
  transform: translateY(calc(100% + 10px));
  transition: .4s;
  z-index: 2;
  max-height: calc(100% - 100px);
  display: block;
  overflow: auto;
  padding: 100px 0;

  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.modal-content h1,
.modal-content h2,
.modal-content h3,
.modal-content p {
  color: var(--clr-dark-grey);
  margin-bottom: unset;
}

.modal-content h2 {
  color: var(--clr-blue);
  word-break: break-word;
}

.modal-content h3 {
  font-family: var(--ff-secondary);
}

.modal-content .movie-header .movie-header-content {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.modal-content .movie-header .movie-year {
  flex-grow: 1;
}

.modal-content .close-button {
  flex-grow: 1;
  text-align: right;
  float: right;
  padding: 15px;
}

.modal-content .close-button .icon {
  width: 30px;
  height: auto;
  object-fit: contain;
}

.modal-content .modal-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-content .movie-body-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal-content .movie-body {
  display: grid;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: minmax(0, 1fr) 300px;

  @media (max-width: 768px) {
    grid-template-columns: minmax(0, 1fr);

    .image {
      order: -1;
    }
  }
}

.modal-content .movie-illustration {
  height: unset;
  max-height: 350px;
  object-fit: cover;
  width: unset;
  max-width: 100%;
}

.modal-content .actors {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.modal-content .actor {
  text-transform: uppercase;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  padding: 10px 20px;
  margin-bottom: 0;
}

body.modal-open .modal-content {
  transform: translateY(0);
}
